/* Import CSS eksternal dulu */
@import './images.css';

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom utility classes */
.shadow-custom {
    box-shadow: 10px 10px 0 rgba(255, 255, 255, 0.1);
}
.shadow-card {
    box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.1);
}

[x-cloak] {
    @apply hidden;
}

/* Sidebar custom theme */
.sidebar-dark-orange {
    background-color: #DD661D !important;
    color: #fff;
}

.sidebar-dark-orange .nav-sidebar > .nav-item > .nav-link {
    color: #cfcfe0;
}

.sidebar-dark-orange .nav-sidebar > .nav-item > .nav-link.active {
    background-color: #DD661D !important;
    color: #fff;
}

.sidebar-dark-orange .brand-link {
    background-color: #DD661D !important;
    color: #fff;
}
